@import '~@xterm/xterm/css/xterm.css';

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

body {
  background-color: lightgrey;
  margin: 0;
}

#upload-bar {
  padding: 0.5em;
  font-family: sans-serif;
}

#targetdiv {
  --target-background: #000000;
  padding: 0.3em;
  box-sizing: content-box;
  background-color: var(--target-background);
}
